{% extends 'layout.html.twig' %}

{% block title %}Game{% endblock %}

{% block css %}
    <style>
        body {
            font-family: Monospace;
            font-size: 12px;
            background-color: #f0f0f0;
            margin: 0px;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="container" style="position: absolute; left:0px; top:0px"></div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/lib/three.js') }}"></script>
    <script src="{{ asset('js/lib/GLTFLoader.js') }}"></script>
    <script src="{{ asset('js/lib/OrbitControls.js') }}"></script>
    <script src="{{ asset('js/lib/dat.gui.min.js') }}"></script>
    <script src="{{ asset('js/lib/DragComponent.js') }}"></script>
    <script src="{{ asset('js/test/main.js') }}"></script>
{% endblock %}